* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-size: 100%;
    font-family: 'Oxygen', sans-serif;
    line-height: 1.7;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: black;
    transition: all .2s linear;
}

h1 {
    color: $red;
    text-shadow: 6px 7px 15px rgba(29, 13, 8, 0.78);
    ;
}

.mimaou {
    font-family: 'Big Shoulders Stencil Display', cursive;
}