footer {
    padding: 30px 20px;
    background-image: url('images/cirque-de-salazie.jpg');
    background-size: cover;
    background-position: bottom;
    border-top: black solid 2px;
    height: 15rem;
    width: 100%;
    .content_footer {
        background-color: rgba(116, 166, 104, 0.7);
        width: 100%;
        height: 100%;
        margin: auto;
        // padding: 5%;
        .content_footer_inner {
            width: 100%;
            height: 100%;
            margin: auto;
            display: flex;
            flex-direction: column;
            // align-items: center;
            justify-content: center;
            p {
                width: 100%;
                margin: 15px 0;
                font-size: 0.9rem;
                a {
                    text-decoration: underline;
                    color: darkred;
                    font-weight: bold;
                }
            }
        }
    }
}