header {
    padding: 30px 20px;
    background-image: url('images/Cap-noir-bestjobers.jpg');
    background-size: cover;
    background-position: center;
    border-bottom: black solid 2px;
    height: 20rem;
    width: 100%;
    .bloc_header {
        background-color: rgba(116, 166, 104, 0.37);
        width: 100%;
        height: 100%;
        margin: auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        h1 {
            font-weight: 900;
            font-size: 3rem;
        }
        .logo_header {
            width: 15%;
        }
        ul {
            display: inline;
            display: flex;
            width: 100%;
            li {
                list-style: none;
                margin-right: 5%;
                font-weight: 700;
                font-size: 1.2rem;
                 :hover {
                    background-color: $red_opacity;
                }
            }
        }
    }
}