.index {
    text-align: center;
    background-color: $primaryColor;
    .image {
        @include border-radius(10px);
        max-width: 400px;
        margin: 30px auto;
    }
    .intro {
        background-color: rgba(116, 166, 104, 0.37);
        border-top: rgba(94, 88, 88, 0.589) double 0.5px;
        border-bottom: rgba(94, 88, 88, 0.589) double 0.5px;
        box-shadow: 5px 5px 15px 5px rgba(31, 28, 27, 0.78);
        margin: 2rem auto;
        width: 100%;
        padding: 2rem 1rem;
        h2 {
            margin-bottom: 1rem;
        }
        p {
            font-size: 1.1rem;
        }
    }
    .card {
        border: black solid 0.5px;
        width: 15rem;
        height: 15rem;
        margin: 15px 10px 0 0;
        border-radius: 5% 0;
        box-shadow: 10px 10px 26px 0px #5F5F5F;
        img {
            width: 100%;
            height: 75%;
            border-radius: 5% 0 0 0;
        }
        h3 {
            font-size: 1rem;
            width: 90%;
            margin: auto;
             :hover {
                color: $red;
            }
        }
    }
    .sous-titre_accueil {
        text-align: left;
        border-top: $red solid 2px;
        border-bottom: $red solid 2px;
        margin-top: 50px;
    }
    .decouvrir {
        width: 90%;
        margin: 2rem auto;
        .decouvrir_content {
            display: flex;
            justify-content: left;
            flex-wrap: wrap;
            width: 100%;
            margin: auto;
        }
    }
    .organiser {
        width: 90%;
        margin: 2rem auto;
        .organiser_content {
            display: flex;
            justify-content: left;
            flex-wrap: wrap;
            width: 100%;
            margin: auto;
        }
    }
    .preparer {
        width: 90%;
        margin: 2rem auto;
        .preparer_content {
            display: flex;
            justify-content: left;
            flex-wrap: wrap;
            width: 100%;
            margin: auto;
        }
    }
}